
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    height: 70px;
    background-color: #19a566;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.disp-block {
    display: inline-block;
}

.disp-none {
    display: none;
}

.main {
    padding: 10px 30px;
    min-height: 520px;
    font-family: sans-serif;
    background-color: #ebe4d2;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 70px;
    padding: 10px 30px;
    background-color: #19a566;

}

.footer p {
    color: #E1F433;
}

#overlap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.3;
}

.modal {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    min-width: 340px;
    min-height: 140px;
    padding: 18px;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid #1672;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 12px 26px -12px rgba(0, 0, 10, 1);
    z-index: 2;
}

.modal-title {
    font-size: 18px;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.modal-close-btn {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 32px;
    height: 32px;
    border: none;
    opacity: 0.8;
    color: white;
    background-color: #343434;
    border-radius: 0 5px 0 0;
    cursor: pointer;
}

.modal-close-btn:hover {
    opacity: 1;
}

.modal-close-btn:before, .modal-close-btn:after {
    position: absolute;
    right: 15px;
    top: 5px;
    content: '';
    height: 22px;
    width: 2px;
    background-color: white;
}

.modal-close-btn:before {
    transform: rotate(45deg);
}

.modal-close-btn:after {
    transform: rotate(-45deg);
}

#modal-form, #new-card, #optionalInputs, #edit-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#modal-form {
    margin-right: 50px;
}

#modal-form label, #optionalInputs label, #selectDoctor {
    margin-bottom: 10px;
}

#selectDoctor {
    align-self: center;
}

#modal-form input, #optionalInputs input {
    width: 180px;
}

#modal-form .form-button, #new-card #create-new-card-btn, #edit-card #edit-card-btn {
    width: fit-content;
}

#filter-cards {
    font-size: 14px;
    text-align: center;
    margin: 5px auto 10px;
}

#filter-cards label {
    margin: 0 10px;
}


/*поле карток*/
.cards-caban {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.cards-caban div {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.75);
}

.cards-caban p {
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.cards-caban span {
    font-size: 15px;
    text-transform: capitalize;
    margin: 10px;
}

.status-open {
    background-color: lightseagreen;
}

.status-done {
    background-color: lightslategrey;
}